body {
  padding: 0;
  margin: 0;
  background-color: #0d0d0d;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');